@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,600,700&display=swap);
body{
    padding: 0;
    margin: 0;
    font-family: "Work Sans";
    font-size: 14px;
    line-height: 16px;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: coral;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 20px;
    display: grid;
    gap: 20px 25px;
    grid-template-columns: 250px 190px 190px;
    grid-auto-rows: 25px;
}
.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 8px 8px 0;
}
ul{
    padding-left: 20px;
}
h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
h3{
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.main{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/2;
    grid-row: span 9;
}
.main img{
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}
.info > div{
    display: flex;
    gap: 10px;
}
.bold{
    font-weight: 600;
}
.info > p:first-of-type{
    margin-top: 0;
}
.quot{
    font-weight: 700;
    letter-spacing: 0.3px;
    grid-column: 1/2;
    grid-row: 10/12;
}
.quot p{
    margin: 0;
}
.goals{
    box-shadow: 8px 8px 0 #29A71E;
    grid-column: 2/3;
    grid-row: 4/8;
}
.goals h3{
    color: #29A71E;
}
.fru{
    box-shadow: 8px 8px 0 #E13535;
    grid-column: 3/4;
    grid-row: 4/9;
}
.fru h3{
    color: #E13535;
}
.dream{
    box-shadow: 8px 8px 0 #3675B0;
    grid-column: 2/3;
    grid-row: 8/12;
}
.dream h3{
    color: #3675B0;
}
.bio{
    grid-column: 2/4;
    grid-row: 1/4;
}
.pers{
    grid-column: 3/4;
    grid-row: 9/12;
}
