@import url(https://fonts.googleapis.com/css?family=DM+Serif+Display:regular,italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Padauk:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Public+Sans:regular,500,700&display=swap);
body{
    margin: 0;
    padding: 0;
}
/* Login Form page */
.wrap{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #001124;
}
.login_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.login_img{
    width: 45%;
    min-width: 300px;
}
.login_img img{
    width: 100%;
}
.login_form{
    width: 45%;
    box-sizing: border-box;
    padding-left: 12%;
    min-width: 300px;
}
.login_form div{
    margin-bottom: 1vw;
}
.login_form h2{
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 45px;
    line-height: 0;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 60px;
}
.login_form label{
    display: block;
    font-family: 'Padauk';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: #FFFFFF;
}
.login_form a{
    font-family: 'Padauk';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: #499FFE;
    text-decoration: none;
}
.login_form a:hover{
    border-bottom: 1px solid #fff;
    color: #49a0fe8e;
}
.login_form p{
    font-family: 'Padauk';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: #FFFFFF;
    margin: 0 0 5px 0;
}
.login_form input{
    width: 70%;
    height: 32px;
}
input[type = submit]{
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    width: 165px!important;
    height: 38px!important;
    background-color: #015FC7;
    cursor: pointer;
    font-family: 'Padauk';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.45;
    color: #FFFFFF;
    text-transform: uppercase;
}
input[type = submit]:hover{
    box-shadow: inset 0 0 20px rgb(15, 0, 56), 0 0 5px #fff;
    color: #fff7;
}
@media all and (max-width: 900px){
    .login_form h2{
        margin: 0 0 40px 0;
    }
}
@media all and (max-width: 600px){
    .login_content{        
        justify-content: center;
    }
    .login_form h2{
        margin: 60px 0 40px 0;
    }
}

/* Registration Form page */
.reg_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap;
}
.reg_img{
    width: 30%;
    text-align: center;
    min-width: 355px;
    overflow: hidden;
}
.reg_img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.reg_form{
    width: 30%;
    min-width: 355px;
    max-width: 450px;
    box-sizing: border-box;
}
.reg_form div{
    margin-bottom: 1vw;
}
.reg_form h2{
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 45px;
    line-height: 1;
    color: #FFFFFF;
    margin-top: 0;
}
.reg_form label{
    display: block;
    font-family: 'Padauk';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: #FFFFFF;
}
.reg_form input{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
}
.reg_form input[type = submit]{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}
@media all and (max-width: 900px){
    .reg_img{
        margin-right: 5%;
    }
}
@media all and (max-width: 810px){
    .reg_form h2{
        margin-top: 60px;
    }
}

/* Main Flow Form page */
.flow_wrap{
    background-color: #f9f9f9;
    min-width: 700px;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 40px 40px 100px;
    margin: 0 auto;
}
.mand_field{
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #171717;
}
.red{
    color: red;
}
h3{
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #171717;
    margin-bottom: 70px;
}
fieldset{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    padding: 0 0 25px 0;
    margin: 0 0 20px 0;
}
legend{
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #171717;
    margin: 15px 0 25px;
    padding: 0;
}
.col_l{
    width: 48%;
}
.col_l > div{
    margin-top: 20px;
}
.col_r{
    width: 48%;
}
.col_r > div{
    margin-top: 20px;
}
.dfb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col_r_up > div{
    margin-top: 20px;
}
.col_r_up > div:first-child{
    margin-top: 0;
}
.col_r_down > div{
    margin-top: 20px;
}
.col_r_down{
    margin-bottom: 50px;
}
.flow_form label{
    display: block;
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #171717;
    margin: 0 0 6px;
}
.flow_form input{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #171717;
    padding-left: 10px;
}
.flow_form input[type = checkbox]{
    width: 24px;
    height: 24px;
    accent-color: #FF00FF;
}
.flow_form input[type = checkbox] + label{
    margin: 0 0 0 5px;
}
.chkbx{
    display: flex;
    align-items: center;
}
.mat_info fieldset{
    align-items: center;
}
.lst{
    background-image: url(../img/list_arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 98%;
    cursor: pointer;
}
.sch{
    background-image: url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 98%;
}
#sys_owner, #info_reg{
    color: #0050D8;
}
.button{
    width: 100%;
    text-align: right;
}
.flow_form select{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #171717;
    background-color: #fff;
    padding-left: 10px;
    appearance: none;
    background-image: url(../img/list_arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 98%;
    cursor: pointer;
}
.flow_form input[type = date]{
    text-align: center;
}
#info_init_date{
    text-align: left;
}