div{
    box-sizing: border-box;
}
.form{
    max-width: 400px;
    min-width: 200px;
    height: 490px;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
#text{
    letter-spacing: 12px;
    text-align: center;
    font-size: 25px;
    margin: 30px 0px 35px;
}
.button{
    max-width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px;
}
.btn_txt{
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 5px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: rgba(1, 103, 255, 0.849);
}