body{
    margin: 0;
}
.wrap{
    max-width: 1440px;
    min-width: 480px;
    margin: 0 auto;
    text-align: center;
}
.header{
    padding: 15px;
}
h1{
    font-family: "M Plus 1";
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
}
.header_blue{
    color: #3E45E8;
}
.header_yellow{
    color: #E8C23E;
}
.header_yellow2{
    color: #DFE31E;
}
.banner{
    background-image: url(../img/head_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10% 5%;    
    font-family: 'Inika';
    font-weight: 700;
    font-size: 48px;
    line-height: 76px;
    color: #FFFFFF;
    text-align: left;
    overflow: hidden;
}
.banner_text p{
    margin: 0;
}
.banner_text{
    position: relative;
    padding-left: 60px;
}
.banner_text::before{
    content: "";
    background-image: url(../img/head_flag.png);
    background-repeat: no-repeat;
    background-size: 23px 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h2{
    font-family: 'Inika';
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    text-transform: uppercase;
    display: inline-block;
}
.places > h2{
    padding: 0 60px;
}
.places > h2::after{
    content: "";
    display: block;
    background: linear-gradient(to right, #00E0FF, #1400FF 50%, #FFA800 50%, transparent);
    width: 120%;
    height: 12px;
    margin-top: 5px;
    margin-left: -60px;
}
.places{
    text-align: left;
}
.places_cards{
    display: flex;
    justify-content: space-evenly;
}
.places_cards > :first-child{
    margin-left: 40px;
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}
.places_cards > :last-child{
    margin-right: 40px;
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}
.card{
    border: 5px solid #0D095F;
    border-radius: 30px;
    width: 27%;
    padding-bottom: 4%;
    overflow: hidden;
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
}
.card img{
    max-width: 100%;
}
.card_title{
    padding: 15px 10px 15px 10px;
    word-wrap: break-word;
}
.card_title a{
    font-family: 'Inika';
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #0072DB;
    text-decoration: none;
}
.card_desc{
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #FF9900;
    padding: 15px 10px 15px 10px;
    word-wrap: break-word;
}
.victory > h2{
    border-bottom: 7px solid #1400FF;
    padding-bottom: 5px;
}
.victory_img{
    width: 80%;
    margin: 0 auto;
}
.victory_img img{
    width: 100%;
}
.button{
    max-width: 30%;
    background: #2A61F0;
    border-radius: 50px;
    margin: 20px auto;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: inset 0 0 30px;
    transition: all 0.5s;
}
.button:hover{
    border: 1px solid #ffe500;
    box-shadow: inset 0 0 20px, 0 0 40px #ffe500;
}
.button a{
    text-transform: uppercase;
    color: white;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 62px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.footer{
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    margin-top: 40px;
}
.footer a{
    color: #A89D9D;
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.1em;
    text-decoration: none;
    margin-right: 10px;
}
@media all and (max-width: 930px)
{
    .banner{
        font-size: 35px;
        line-height: 60px;
    }
    .banner_text{
        padding-left: 50px;
    }
    .banner_text::before{
        background-size: 20px 100%;
    }
    .button a{
        font-size: 50px;
    }
}
@media all and (max-width: 700px)
{
    .banner{
        font-size: 24px;
        line-height: 40px;
    }
    .banner_text{
        padding-left: 40px;
    }
    .banner_text::before{
        background-size: 15px 100%;
    }
    .button a{
        font-size: 35px;
    }
}
@media all and (max-width: 540px)
{
    h1{
        font-size: 42px;
    }
}