@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
:root{
    --main-color: #212529;
}

body{
    font-family: Roboto;
}

.t-container{
    padding: 0;
    overflow: hidden;
}

.t-item{
    height: 40vh;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.t-row{
    justify-content: center;
    padding: 100px 10px;
    gap: 20px 0;
}

.t-card{
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
}

.t-card img{
    flex-grow: 1;
    object-fit: contain;
}

.t-desc{
    flex-grow: 0;
}
.t-desc h5{
    font-weight: 700;
}

.overline{
    text-decoration: line-through;
    color: #6C757D;
}

.copy{
    background-color: var(--main-color);
    box-sizing: border-box;
    padding: 30px 0;
}