@import url(https://fonts.googleapis.com/css?family=Barlow:500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);
@import url(../css/animate.min.css);
@font-face {
  font-family: "Sansation";
  src: url(../fonts/SansationRegular.ttf);
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #000;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

header .container {
  height: 15vh;
  width: 100%;
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .button {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.2;
  border: 1.3px solid #FFFFFF;
  border-radius: 5px;
  padding: 1rem 2.75rem;
  white-space: nowrap;
  display: inline-block;
  -webkit-transform: translateX(3000px);
      -ms-transform: translateX(3000px);
          transform: translateX(3000px);
  -webkit-animation: lightSpeedInRight 1s 1.3s forwards;
          animation: lightSpeedInRight 1s 1.3s forwards;
}
header .container .button:hover {
  -webkit-animation: rubberBand 1s forwards, lightSpeedInRight;
          animation: rubberBand 1s forwards, lightSpeedInRight;
}

.logo {
  white-space: nowrap;
  font-family: "Sansation";
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 1.1;
  -webkit-transform: translateX(-3000px);
      -ms-transform: translateX(-3000px);
          transform: translateX(-3000px);
  -webkit-animation: lightSpeedInLeft 1s 1.3s forwards, pulse 1s 3s infinite;
          animation: lightSpeedInLeft 1s 1.3s forwards, pulse 1s 3s infinite;
}
.logo span {
  color: #001FDB;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
}
.menu a {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.2;
}
.menu li:nth-child(1) {
  -webkit-transform: translateX(-3000px);
      -ms-transform: translateX(-3000px);
          transform: translateX(-3000px);
  -webkit-animation: bounceInLeft 1.5s 0.5s forwards;
          animation: bounceInLeft 1.5s 0.5s forwards;
}
.menu li:nth-child(1):hover {
  -webkit-animation: heartBeat 2s infinite, bounceInLeft;
          animation: heartBeat 2s infinite, bounceInLeft;
}
.menu li:nth-child(2) {
  -webkit-transform: translateX(-3000px);
      -ms-transform: translateX(-3000px);
          transform: translateX(-3000px);
  -webkit-animation: bounceInLeft 1.5s forwards;
          animation: bounceInLeft 1.5s forwards;
}
.menu li:nth-child(2):hover {
  -webkit-animation: heartBeat 2s infinite, bounceInLeft;
          animation: heartBeat 2s infinite, bounceInLeft;
}
.menu li:nth-last-child(1) {
  -webkit-transform: translateX(3000px);
      -ms-transform: translateX(3000px);
          transform: translateX(3000px);
  -webkit-animation: bounceInRight 1.5s 0.5s forwards;
          animation: bounceInRight 1.5s 0.5s forwards;
}
.menu li:nth-last-child(1):hover {
  -webkit-animation: heartBeat 2s infinite, bounceInRight;
          animation: heartBeat 2s infinite, bounceInRight;
}
.menu li:nth-last-child(2) {
  -webkit-transform: translateX(3000px);
      -ms-transform: translateX(3000px);
          transform: translateX(3000px);
  -webkit-animation: bounceInRight 1.5s forwards;
          animation: bounceInRight 1.5s forwards;
}
.menu li:nth-last-child(2):hover {
  -webkit-animation: heartBeat 2s infinite, bounceInRight;
          animation: heartBeat 2s infinite, bounceInRight;
}

main .container {
  width: 100%;
  height: 85vh;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  height: 60%;
  width: 50%;
  opacity: 0;
  -webkit-animation: zoomInRight 2s 3.5s, rotateIn 1s 5s forwards;
          animation: zoomInRight 2s 3.5s, rotateIn 1s 5s forwards;
}
.right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.left h2 {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  -webkit-animation: flipInX 2s 1.7s forwards;
          animation: flipInX 2s 1.7s forwards;
}
.left h2 span {
  color: #001FDB;
}
.left p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.2;
  letter-spacing: 0.065em;
  color: #989398;
  margin: 1rem 0;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  -webkit-animation: flipInX 2s 2.5s forwards;
          animation: flipInX 2s 2.5s forwards;
}
.left .button {
  background-color: #001FDB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.2;
  padding: 1rem 2.75rem;
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  -webkit-animation: flipInX 2s 3.5s forwards;
          animation: flipInX 2s 3.5s forwards;
}
.left .button:hover {
  -webkit-animation: flip 2s infinite, flipInX;
          animation: flip 2s infinite, flipInX;
}