@import url(https://fonts.googleapis.com/css?family=Barlow:500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);
@import url(../css/animate.min.css);
@font-face {
    font-family: "Sansation";
    src: url(../fonts/SansationRegular.ttf);
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    background-color: #000;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
a{
    color: #fff;
    text-decoration: none;
}
header{
    .container{
        height: 15vh;
        width: 100%;
        padding: 60px;
        box-sizing: border-box;
        nav{
            display: flex;
            justify-content: space-between;
        }
        .button{
            font-family: 'Barlow';
            font-weight: 500;
            font-size: 1.875rem;
            line-height: 1.2;
            border: 1.3px solid #FFFFFF;
            border-radius: 5px;
            padding: 1rem 2.75rem;
            white-space: nowrap;
            display: inline-block;
            transform: translateX(3000px);
            animation: lightSpeedInRight 1s 1.3s forwards;
            &:hover{
                animation: rubberBand 1s forwards, lightSpeedInRight;
            }
        }
    }
}
.logo{
    white-space: nowrap;
    font-family: 'Sansation';
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 1.1;    
    span{
        color: #001FDB;
    }
    transform: translateX(-3000px);
    animation: lightSpeedInLeft 1s 1.3s forwards, pulse 1s 3s infinite;
}
.menu{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    a{
        font-family: 'Barlow';
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 1.2;
    }
    li{
        &:nth-child(1){
            transform: translateX(-3000px);
            animation: bounceInLeft 1.5s .5s forwards;
            &:hover{
                animation: heartBeat 2s infinite, bounceInLeft;
            }
        }
        &:nth-child(2){
            transform: translateX(-3000px);
            animation: bounceInLeft 1.5s forwards;
            &:hover{
                animation: heartBeat 2s infinite, bounceInLeft;
            }
        }
        &:nth-last-child(1){
            transform: translateX(3000px);
            animation: bounceInRight 1.5s .5s forwards;&:hover{
                animation: heartBeat 2s infinite, bounceInRight;
            }
        }
        &:nth-last-child(2){
            transform: translateX(3000px);
            animation: bounceInRight 1.5s forwards;&:hover{
                animation: heartBeat 2s infinite, bounceInRight;
            }
        }
    }
}

main{
    .container{
        width: 100%;
        height: 85vh;
        padding-left: 60px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.right{
    height: 60%;
    width: 50%;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    opacity: 0;
    animation: zoomInRight 2s 3.5s, rotateIn 1s 5s forwards;
}
.left{
    h2{
        font-family: 'Barlow';
        font-weight: 600;
        font-size: 4rem;
        line-height: 1.2;
        color: #fff;
        margin: 0;
        span{
            color: #001FDB;
        }
        transform: rotate3d(1, 0, 0, 90deg);
        animation: flipInX 2s 1.7s forwards;
    }
    p{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 1.2;
        letter-spacing: 0.065em;
        color: #989398;
        margin: 1rem 0;
        transform: rotate3d(1, 0, 0, 90deg);
        animation: flipInX 2s 2.5s forwards;
    }
    .button{
        background-color: #001FDB;
        box-sizing: border-box;
        font-family: 'Barlow';
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 1.2;
        padding: 1rem 2.75rem;
        white-space: nowrap;
        display: inline-block;
        border-radius: 5px;
        transform: rotate3d(1, 0, 0, 90deg);
        animation: flipInX 2s 3.5s forwards;
        &:hover{
            animation: flip 2s infinite, flipInX;
        }
    }
}