body{
    margin: 0;
    background-color: #212529;
}
a:hover{
    color: #FFB742;
}
.wrap{
    min-width: 900px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 50px;
}
.hire_btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;    
    background-color: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 12px 35px;
    cursor: pointer;
    width: fit-content;
}
.hire_btn a{
    color: #212529;
    text-decoration: none;
}
.hire_btn:hover{
    box-shadow: inset 0 0 15px;
}
.hire_btn:hover a{
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_menu{
    width: 35%;
}
header ul a{
    color: #fff;
    text-decoration: none;
}
header ul li{
    margin-right: 20px;
}
header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.welcome{
    width: fit-content;
    margin: 100px auto;
    text-align: center;
}
.welcome_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    color: #fff;
}
.big_or{
    color: #FFB742;
    text-decoration: underline;
}
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    color: #fff;
    margin: 0;
}
.welcome_skill{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110px;
    color: #fff;
}
.meter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.meter_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    flex-basis: 30%;
    text-align: center;
}
.meter_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}
.meter_num{
    font-size: 32px;
    line-height: 40px;
    color: #FFB742;
}
.meter_block:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}
.meter_block:hover .meter_text > span{
    color: #212529;
}
.meter_arrow{
    color: #B3B3B3;
}
#about{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 200px auto 0;
}
.about_foto{
    width: 42%;
    overflow: hidden;
    margin-top: 35px;
}
.about_foto img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* object-position: right; */
}
.about_info{
    width: 50%;
    padding-bottom: 150px;
}
/* .about_info .colontitul{
    margin-left: -15px;
} */
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
    margin-bottom: 60px;
    margin-left: 15px;
}
.colontitul{
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 6px 30px;
    width: fit-content;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    margin: 0;
    margin-left: 15px;
}
#skills{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 130px;
}
.skills_info{
    width: 45%;
}
.skills_icons{
    width: 45%;
}
.skills_icons_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills_icon{
    width: 80px;
    height: 80px;
    background-color: #383E45;
    border-radius: 10px;
    text-align: center;
    line-height: 115px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.skills_icon:hover{
    background-color: rgba(255, 183, 66, 0.5);
    box-sizing: border-box;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#portfolio{
    width: 100%;
    margin: 0 auto 130px;
    text-align: center;
}
#portfolio .colontitul{
    margin: 0 auto;
}
.works_menu{
    width: 50%;
    min-width: fit-content;
    margin: 0 auto;
}
.works_menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    padding: 0;
}
.works_menu li{
    margin-right: 20px;
}
.works_menu a{
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 20px;
}
.works_menu a:hover{
    color: #212529;
    box-sizing: border-box;
    background-color: #FFB742;
    border-radius: 5px;
    padding: 5px 20px;
}
.works{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}
.works_col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}
.works img{
    margin-bottom: 25px;
}
#testimonials{
    width: 100%;
    margin: 0 auto 175px;
    text-align: center;
}
#testimonials .colontitul{
    margin: 0 auto;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #fff;
    margin: 5px auto;
}
.testi_cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    flex-wrap: wrap;
}
.testi_card{
    width: 30%;
    min-width: 330px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 50px 50px 50px 30px;
    text-align: left;
    margin-bottom: 25px;
    margin-right: 2%;
}
.testi_rate img{
    margin-right: 9px;
}
.testi_text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    margin: 20px auto 35px;
}
.testi_person{
    display: flex;
    align-items: center;
}
.testi_person_avatar{
    margin-right: 25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}
.testi_person_avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testi_person_name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}
.testi_person_post{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
}
footer{
    background-color: #1C1C1C;
}
footer .wrap{
    min-width: 900px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 150px 50px 90px 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: start; */
}
.footer_col{
    width: 22%;
}
.name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
    display: block;
    margin-bottom: 30px;
}
.spec{
    display: block;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
}
h4{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
    margin: 0;
}
footer a{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7B7B7B;
    text-decoration: none;
}
footer ul{
    list-style: none;
    padding: 0;
}
.newsletter{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7B7B7B;
}