body{
    margin: 0;
    background-color: #fbe4ff;
}
.up_arr{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    position: fixed;
    right: 3%;
    bottom: 30px;
    background-color: #0005;
    z-index: 5;
}
.head_line{
    width: 100%;
    min-width: 960px;
    padding: 5px 0;
    box-sizing: border-box;
}
.menu_line{
    background-color: #243B93;
}
.booking_line{
    background-color: #BFF0FF;
}
.kabinet_line{
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    margin: 40px 0;
}
.contacts_line{
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}
.header{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.logo{
    width: 15%;
}
.menu{
    width: 75%;
    padding: 0 20px;
}
.menu_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.16em;
    padding: 0;
}
li{
    /* margin-right: 30px; */
    padding: 0 10px;
}
.menu_header a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.lang{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
}
.lang_link{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin-left: 10px;
}
h2{
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    color: #243B93;
    margin: 0;
}
.select{    
    box-sizing: border-box;
    padding: 10px 30px;
    max-width: 1320px;
    margin: 30px auto;
    text-align: center;    
}
.select_text{
    background-color: #fff;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #0009;
}
.cards{
    max-width: 1320px;
    min-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.card{
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 30px 50px 20px;
    transition: all 0.2s;
}
.card:hover{
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.star path{
    transition: all 0.2s;
}
.card:hover path{
    fill: #FFF500;
}
.card_img{
    margin-right: 25px;
    width: 40%;
}
.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_info{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.card_title{
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #353C57;
    box-sizing: border-box;
    border-bottom: 3px solid #fff;
}
h3{
    margin: 0;
}
.card_desc{
    background-color: #EDFBFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #202846;
    /* padding-top: 10px;
    padding-left: 15px;
    padding-right: 50px; */
    padding: 1.5% 5% 1.5% 2%;
    box-sizing: border-box;
    margin-top: 10px;
    height: 100%;
}
.card_desc p{
    margin: 0;
}
.star{
    position: absolute;
    right: 15px;
    top: 10px;
}
.button{
    box-sizing: border-box;
    background-color: #243B93;
    border-radius: 30px;    
    text-align: center;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    padding: 6px 40px 10px;
    box-shadow: 2px -2px 3px black;
    transition: all 0.1s;
    width: fit-content;
}
.button:hover{
    background-color: #EF075B;
    cursor: pointer;
    box-shadow: inset 0 0 15px #C40047;
}
.card_btn{
    position: absolute;
    right: -25px;
    bottom: 10px;
}
.profile{
    max-width: 1320px;
    min-width: 960px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}
.profile_card{
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    box-sizing: border-box;
    padding: 35px 6% 35px 35px;
}
.avatar{
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    padding: 50px 0 30px;
}
.prof_img{
    width: 170px;
    height: 170px;
    margin: 0 auto 25px;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
}
.prof_img img{
    width: 100%;
    height: 100%;
}
.prof_btn{
    margin: 10px auto 20px;
    padding: 6px 10% 10px;
}
.info{
    width: 70%;
}
.profile ul{
    list-style: none;
    margin: 0;
}
.profile ul>li{
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.33;
    border-bottom: 3px solid #fff;
    padding: 2%;
    padding-left: 5px;
    margin: 0;
}
.profile ul>li:last-child{
    border: none;
}
.info_bold{
    font-weight: 700;
}
.sign_btn{
    width: fit-content;
    margin: 25px auto 50px;
    text-transform: uppercase;
    padding: 10px 40px;
}
footer{
    width: 100%;
    height: 60px;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #243B93;
}
.copiright{
    max-width: 1320px;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
    color: #fff;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16em;
}
.contact_info{
    max-width: 1320px;
    min-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px 30px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.28;
}
.contact_info div{
    width: 30%;
}
.contact_info p{
    margin: 5px;
}
.contact_info p:nth-of-type(2){
    margin-bottom: 30px;
}
.map{
    width: 100%;
}
.map img{
    width: 100%;
}
hr{
    margin: 0;
}
@media all and (max-width: 1145px)
{
    .profile ul>li{
        font-size: 29px;
    }
    .contact_info{
        font-size: 25px;
    }
}