/* animation: name duration timing-function delay iteration-count direction fill-mode; */

.hair{
    animation-name: hair-move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

.beard{
    animation-name: beard-move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

.shave{
    animation-name: shave-move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

.hstr{
    animation-name: hstr-move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

.serv_works:hover > div{
    animation-name: none;
}

@keyframes hair-move {
    0%{
        transform: translate(0) rotate(0);
    }
    25%{
        transform: translate(110%, 0) rotate(1turn);
    }
    50%{
        transform: translate(110%, 110%) rotate(2turn);
    }
    75%{
        transform: translate(0, 110%) rotate(3turn);
    }
    100%{
        transform: translate(0) rotate(4turn);
    }
}

@keyframes beard-move{
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(0, 110%);
    }
    50%{
        transform: translate(-110%, 110%);
    }
    75%{
        transform: translate(-110%, 0);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes shave-move{
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(0, -110%);
    }
    50%{
        transform: translate(110%, -110%);
    }
    75%{
        transform: translate(110%, 0);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes hstr-move{
    0%{
        transform: translate(0) rotate(0);
    }
    25%{
        transform: translate(-110%, 0) rotate(1turn);
    }
    50%{
        transform: translate(-110%, -110%) rotate(2turn);
    }
    75%{
        transform: translate(0, -110%) rotate(3turn);
    }
    100%{
        transform: translate(0) rotate(4turn);
    }
}