@import url(services-animation.css);
@import url(https://fonts.googleapis.com/css?family=Rosario:700,600italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Volkhov:regular&display=swap);

/* < 768, < 992, 992 - 1620 */
body{
    margin: 0;
    padding: 0;
    position: relative;
}

.wrap{
    min-width: 992px;
    max-width: 1620px;
    margin: 0 auto;
}

.burger{
    position: absolute;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: 11;
    display: none;
}

h2{
    display: none;
}

/* Header, top menu */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.head_bar{
    width: 100%;
    height: 10vh;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
}

.logo{
    width: 15%;
    height: 100%;
    background-color: #FFFBFB;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav{
    width: 85%;
}

.head_bar ul{
    display: flex;
    margin: 0;
    padding: 0 2vw;
    justify-content: flex-end;
    list-style: none;
    gap: 2vw;
}

.head_bar a{
    color: #FFFCFC;
    text-decoration: none;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

/* Mail block */
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 10vh;
}

/* Section gallery */
.gallery_wrapper{
    overflow: hidden;
}

#gallery .container{
    gap: 1vw;
    overflow: visible;
}

.img_left,
.img_right{
    height: 60%;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 2vw;
}

.img_col_left,
.img_col_right{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.img_col_left > div,
.img_col_right > div{
    height: 48%;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.gal_col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_left,
.img_col_left_up,
.img_col_left_down{
    transform: translateX(-300%);
}

.img_right,
.img_col_right_up,
.img_col_right_down{
    transform: translateX(300%);
}

@keyframes left {
    from{
        transform: translateX(-300%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes right {
    from{
        transform: translateX(300%);
    }
    to{
        transform: translateX(0);
    }
}

.img_col_left_up{
    animation: left 1s linear forwards;
}
.img_col_right_up{
    animation: right 1s linear forwards;
}
.img_col_left_down{
    animation: left 1s 0.5s linear forwards;
}
.img_col_right_down{
    animation: right 1s 0.5s linear forwards;
}
.img_left{
    animation: left 1s 1s linear forwards;
}
.img_right{
    animation: right 1s 1s linear forwards;
}

/* Section Services */
.serviceman{
    width: 50%;
    height: 100%;
}

.serviceman img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serv_works{
    width: 50%;
    min-width: 640px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(1vw + 2vh) 1vw;
    padding: 1vw;
    align-content: center;
}

.serv_works div{
    text-align: center;
    width: 48%;
    height: calc((100% - (8vh + 2vw)) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serv_works img{
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
}

.serv_works span{
    display: block;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #000;
}

/* Section Team */
#team .container{
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.team_title{
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 5vw;
    line-height: 1.2;
    color: #000;
    height: 25%;
}

.members{
    display: flex;
    justify-content: space-evenly;
    height: 75%;
}

.member{
    border-radius: 40px;
    overflow: hidden;
    width: calc((100% - 12vw) / 4);
    position: relative;
    transition: all 0.4s;
}

.member_foto{
    width: 100%;
    height: 100%;
}

.member_foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member_name{
    display: block;
    width: 100%;
    height: 22%;
    background-color: rgba(163, 83, 10, 0.7);
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;
    color: #FFFAFA;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.member:hover .member_name{
    visibility: visible;
}

.members:hover .member:not(:hover){
    filter: brightness(0.3);
}


/* Section contact */
#contact .container{
    height: 80vh;
    column-gap: 3vw;
    padding: 10vh 5vw 0;
}

.form{
    box-sizing: border-box;
    width: 55%;
    height: 80%;
    padding: 10px 0;
}

.form_title{
    text-align: center;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 1.2;
    padding-right: 6vw;
    margin-bottom: 3vh;
}

.contactform{
    background-color: #E5E5E5;
    box-sizing: border-box;
    height: calc(100% - (3.5vw * 1.2 * 2) - 3vh);
    padding: 3vh;
    overflow: hidden;
}

.contactform div{
    display: flex;
    width: 100%;
    column-gap: 2vw;
}

.form input{
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding-left: 10px;
    width: 50%;
    height: 5vh;
    min-height: 40px;
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
}

.form textarea{
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    width: 100%;
    height: calc(100% - 10vh);
    min-height: 80px;
    resize: none;
    margin-top: 3vh;
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
}

.map{
    width: 40%;
    height: 80%;
}

/* Footer */
footer .container{
    height: 20vh;
    min-height: 100px;
    box-sizing: border-box;
    justify-content: space-evenly;
    font-family: Rosario;
    font-style: italic;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 1.3;
    padding: 1vh 0;
}

footer .container > div{
    width: 30%;
    height: 100%;
    text-align: center;
}

footer a{
    color: #000;
    text-decoration: none;
}

footer a:hover{
    color: rgb(127, 255, 0);
}

.cont_info_bold{
    font-style: normal;
    font-weight: 700;
}

.hours_title,
.social_title{
    font-style: normal;
    font-weight: 700;
}

.social_wrap{
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

.social_wrap div{
    display: flex;
    align-items: center;
}

.soc_insta::before{
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    content: "";
    background-image: url(/img/icon_insta.svg);
    background-size: 100% 100%;
    margin-right: 0.5vw;
}

.soc_fb::before{
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    content: "";
    background-image: url(/img/icon_fb.svg);
    background-size: 100% 100%;
    margin-right: 0.5vw;
}

.soc_tw::before{
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    content: "";
    background-image: url(/img/icon_twitter.svg);
    background-size: 100% 100%;
    margin-right: 0.5vw;
}


@media all and (max-width: 992px){
    .wrap{
        min-width: 768px;
        max-width: 992px;
        margin: 0;
    }

/* ------Header------- */

    .head_bar a{
        font-size: 3vw;
    }
    .logo{
        width: 20%;
    }
    nav{
        width: 80%;
    }

/* ----------Gallery Section--------- */

    #gallery .container{
        flex-wrap: wrap;
    }
    .img_right{
        order: 2;
        width: 45%;
        height: 33%;
        margin: 0;
        animation-duration: 1.5s;
    }
    .img_left{
        order: 1;
        width: 45%;
        height: 33%;
        margin: 0;
        animation-duration: 1.5s;
    }
    .img_col_left{
        order: 3;
        width: 45%;
        height: 65%;
        animation-duration: 2s;
    }
    .img_col_right{
        order: 4;
        width: 45%;
        height: 65%;
        animation-duration: 2s;
    }

/* ---------Services Section-------- */

    #services .container{
        flex-direction: column;
    }
    .serviceman{
        order: 1;
        width: 100%;
        height: 50%;
    }
    .serv_works{
        order: 2;
        width: 100%;
        height: 50%;
    }

/* -------Team Section------ */

    #team .container{
        padding-top: 11vh;
        gap: 2vh;
    }
    .team_title{
        height: 12%;
    }
    .members{
        flex-wrap: wrap;
        height: 87%;
    }
    .member{
        width: calc((100% - 12vw) / 2);
        height: 49%;
    }
    .member_name{
        font-size: 32px;
    }
    .member_foto img{
        object-position: top;
    }

/* ------Contact Section------- */

    #contact .container{
        flex-direction: column;
        padding-top: 11vh;
        height: 85vh;
        gap: 1vw;
    }
    .map{
        order: 2;
        width: 100%;
        height: 40%;
    }
    .form{
        order: 1;
        width: 100%;
        height: 58%;
        padding: 0;
    }
    .form_title{
        padding: 0;
        margin: 0 auto;
        height: 5vw;
    }
    .contactform{
        height: calc(100% - 5vw);
    }
    .form textarea{
        height: calc(100% - 8vh);
    }

/* ------Footer------- */

    footer .container{
        height: 15vh;
        font-size: 1.5vw;
    }
}

@media all and (max-width: 768px){
    .wrap{
        max-width: 768px;
        min-width: 300px;
        margin: 0;
    }
    .container{
        flex-direction: column;
        height: auto;
        padding-top: 11vh;
    }

    /* -----Header------ */
    .logo{
        width: 50%;
    }
    nav{
        width: 50%;
    }
    .head_bar ul{
        display: none;
    }
    .burger{
        display: block;
    }

    /* ----Gallery Section---- */
    .gal_col{
        width: 80%;
    }

    /* -----Services Section---- */
    .serviceman{
        display: none;
    }
    .serv_works{
        min-width: auto;
        height: auto;
    }
    .serv_works span{
        font-size: 20px;
    }

    /* ----Team Section----- */
    .team_title{
        height: auto;
        font-size: 7vw;
    }
    .members{
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }
    .member{
        width: 100%;
        height: 400px;
    }
    .member:hover .member_name{
        visibility: hidden;
    }
    .members:hover .member:not(:hover){
        filter: brightness(1);
    }
    .member:active .member_name{
        visibility: visible;
    }
    .members:active .member:not(:active){
        filter: brightness(0.3);
    }

    /* -------Contact Section------- */
    #contact .container{
        padding-top: 5vw;
        height: auto;
    }
    .form_title{
        font-size: 6vw;
        height: auto;
        margin: 2vh auto;
    }
    .form input{
        font-size: 14px;
    }
    .form textarea{
        font-size: 14px;
    }
    .map{
        order: 1;
    }
    .form{
        order: 2;
    }

    /* ------Footer------ */
    footer .container{
        height: auto;
        font-size: 5vw;
        padding: 2vw 0;
    }
    footer .container > div{
        width: 100%;
    }
    .social_wrap ::before{
        width: 5vw;
        height: 5vw;
    }
}